.SeniorCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  flex-basis: 250px;

  & img {
    width: 100%;
  }
  & p{
    color: var(--softText);
    line-height: 25px;
  }

}
